<a href="https://colab.research.google.com/github/pavang2579/stock/blob/main/Stockprice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os
import psycopg2 as ps

In [ ]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.4 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [ ]:
import yfinance as yf
tsla = yf.Ticker("TSLA")
data1 = tsla.history(period="max")
tesla = pd.DataFrame(data1) 
tesla['ticker'] = 'TSLA'
tesla

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
Date,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0,TSLA
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0,TSLA
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0,TSLA
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0,TSLA
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0,TSLA
...,...,...,...,...,...,...,...,...
2022-08-16,935.000000,944.000000,908.650024,919.690002,29378800,0,0.0,TSLA
2022-08-17,910.190002,928.969971,900.099976,911.989990,22922000,0,0.0,TSLA
2022-08-18,918.000000,919.500000,905.559998,908.609985,15833500,0,0.0,TSLA
2022-08-19,897.000000,901.080017,877.500000,890.000000,20417900,0,0.0,TSLA
2022-08-22,875.739990,877.200012,858.890015,869.739990,18546300,0,0.0,TSLA

In [ ]:

amaz = yf.Ticker("AMZN")

data2 = amaz.history(period="max")
amazon = pd.DataFrame(data2)
amazon['ticker'] = 'AMZN'
amazon

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
Date,,,,,,,,
1997-05-15,0.121875,0.125000,0.096354,0.097917,1443120000,0,0.0,AMZN
1997-05-16,0.098438,0.098958,0.085417,0.086458,294000000,0,0.0,AMZN
1997-05-19,0.088021,0.088542,0.081250,0.085417,122136000,0,0.0,AMZN
1997-05-20,0.086458,0.087500,0.081771,0.081771,109344000,0,0.0,AMZN
1997-05-21,0.081771,0.082292,0.068750,0.071354,377064000,0,0.0,AMZN
...,...,...,...,...,...,...,...,...
2022-08-16,143.910004,146.570007,142.000000,144.779999,59102900,0,0.0,AMZN
2022-08-17,142.690002,143.380005,140.779999,142.100006,48149800,0,0.0,AMZN
2022-08-18,141.320007,142.770004,140.380005,142.300003,37458700,0,0.0,AMZN
2022-08-19,140.470001,141.110001,137.910004,138.229996,47727300,0,0.0,AMZN
2022-08-22,135.720001,136.320007,132.850006,133.220001,50375600,0,0.0,AMZN

In [ ]:
finaldata = pd.concat([amazon,tesla], axis=0)
finaldata = finaldata.drop(['Dividends', 'Stock Splits'], axis = 1)
finaldata
#g = data.groupby(['ticker']).count()

finaldata.to_csv('/content/drive/MyDrive/stockprice.csv')

In [ ]:
from google.colab import drive

drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/stockprice.csv')
print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
            Date        Open        High         Low       Close      Volume  \
0     1997-05-15    0.121875    0.125000    0.096354    0.097917  1443120000
1     1997-05-16    0.098438    0.098958    0.085417    0.086458   294000000
2     1997-05-19    0.088021    0.088542    0.081250    0.085417   122136000
3     1997-05-20    0.086458    0.087500    0.081771    0.081771   109344000
4     1997-05-21    0.081771    0.082292    0.068750    0.071354   377064000
...          ...         ...         ...         ...         ...         ...
9414  2022-08-16  935.000000  944.000000  908.650024  919.690002    29378800
9415  2022-08-17  910.190002  928.969971  900.099976  911.989990    22922000
9416  2022-08-18  918.000000  919.500000  905.559998  908.609985    15833500
9417  2022-08-19  897.000000  901.080017  877.500000  890.000000    20417900
9418  2022-08-22  875.739990  877.200012  858.890015  869.739990    18546300

     ticker
0      AMZN
1      AMZN
2      AMZN
3      AMZN
4      AMZN
...     ...
9414   TSLA
9415   TSLA
9416   TSLA
9417   TSLA
9418   TSLA

[9419 rows x 7 columns]